  /*
    Colour Scheme:
    Main: #2EB2FF;
    Dodger Blue : #2DB4FC;
    Steel grey : #B0C4CF;
    Dim grey: #5F5F5F;
    Sky Blue: #5DC3FC;
    */
    
body{
  padding: 0px;
  margin:0;
}

.Logo{
  background-image: url("../images/StartipsWhite.png");
}