@font-face {
  font-family: 'Sedgwick Ave Regular';
  src: url('Sedgwick-Ave-Regular.eot'); /* IE9 Compat Modes */
  src: url('Sedgwick-Ave-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Sedgwick-Ave-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('Sedgwick-Ave-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('Sedgwick-Ave-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Sedgwick-Ave-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Ranga Regular';
  src: url('Ranga-Regular.eot'); /* IE9 Compat Modes */
  src: url('Ranga-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Ranga-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('Ranga-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('Ranga-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Ranga-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'PT Sans';
  src: url('PT-Sans.eot'); /* IE9 Compat Modes */
  src: url('PT-Sans.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('PT-Sans.woff2') format('woff2'), /* Super Modern Browsers */
       url('PT-Sans.woff') format('woff'), /* Pretty Modern Browsers */
       url('PT-Sans.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('PT-Sans.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Exo Regular';
  src: url('Exo-Regular.eot'); /* IE9 Compat Modes */
  src: url('Exo-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Exo-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('Exo-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('Exo-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Exo-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}